/*colur pallette rgb(254, 208, 110) rgba(119,79,43) rgb(255, 239, 219)*/
*{
    margin:0%;
    padding: 0%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-image:url("bg.jpeg");
    background-size: 400px;
}
.title{
    object-fit: scale-down(0.2);
    margin-top:2em;
    margin-left: 30%;
    margin-right: 30%;
    padding: 1em;
    text-align: center;
    color: rgb(255, 239, 219);
    font-size: 2em;
    background-color: rgba(119,79,43);
    border-radius: 2em;
}
.message{
    width: 40%;
    background-color : rgb(255, 239, 219,0.9) ;
    border-radius: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    padding : 4em 0em;
    color: rgba(119,79,43);
}
.message h2{
    display : inline-block;
    width :40%;
    border: 2px solid rgba(119,79,43);
    border-radius: 1em;
    font-size: 2em;
    padding: 0.5em 0em;
}
.message h3{
    padding: 1em;
    font-size : 1.5em

}